{% extends 'marketing66_base.html.twig' %}

{% block title %}Marketing66{% endblock %}



{% block body %}




    <div id="preloader">
        <div id="preloader-inner"></div>
    </div><!--/preloader-->



    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded nav-sticky">

        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation";>
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="marketing66.html">
                <img class='logo logo-dark' src="images/logo-name.png" alt="">
            </a>
            <div  id="navbarNavDropdown" class="navbar-collapse collapse" style="width:1000px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link  dropdown-toggle"  href="#performance">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle"  href="#contenu-clients">Clients</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle"  href="#">Blog</a>
                    </li>
                    <li class="nav-item dropdown dropdown-full-width">
                        <a class="nav-link dropdown-toggle"  href="#formlien" role="button" >
                            Contact Us
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-full-width">
                        <a class="nav-link  dropdown-toggle" href="#">Affiliates</a>
                    </li>
                </ul>
            </div>

        </div>   <!-- container -->
        <ul class="login">
            <li class="login-icon"> <img src="images/login-icon.png" width="35%" height="35%" alt=""></li>
            <li class="login-mot"> LOGIN</li>
        </ul>
    </nav>
    <div class="tout">
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="images/aso-icon.png"  width="75px" height="75px" alt="">
                <h12> ASO </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Get the highest possible ranking for your app, and downloads <br>
                that come with it. Whether it be for iPod or Android.<br>
                <mark> <b>We will help you optimize the content of your app.</b> </mark>
            </div> <!--text -->

        </div>
        &nbsp; <br><br><br><br><br><br>

        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="images/social-media-icon.png"  width="75px" height="75px" alt="">
                <h12> Social Media </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Create and maintain a high-quality and successful social media <br>
                campaign, targeting the appropriate audiences using the relevant <br>
                social media platforms to optimize results.<br>
                <mark>  <b>Our team will help you choose the keywords that will bring <br></mark>
                the most traffic to your site.</b>
            </div> <!--text -->
        </div>
        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="images/Web-Development-icon.png"  width="75px" height="75px" alt="">
                <h12> Web Development</h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Enhance visitor's experience on your site by developing the<br>
                graphics and content.<br>
                <mark><b>Learn how to build a website that will create a positive <br>
                        user experience.</b></mark>
            </div> <!--text -->
        </div>
        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="images/Google-Adwords-icon.png"  width="75px" height="75px" alt="">
                <h12>Google Adwords</h12>
            </div> <!--aso-image-title -->
            <div class="text">
                Create the most relevant and useful ads so your website appears <br>
                at the very top of Google's search results.<br>
                <mark><b>Our team will help you choose the keywords that will bring <br>
                        the most traffic to your site.</b></mark>
            </div> <!--text -->
        </div>
        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="images/Affiliate-Networks-icon.png"  width="75px" height="75px" alt="">
                <h12> Affiliate Networks </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                With the help of our team, find the best affiliate programs to <br>
                advertise your product or service, based on relevancy and quality. <br>
                Advertise on several sites and platforms, but coordinate with only <br>
                one account manager.<br>
                <mark>  <b>We offer the best prices per offer, and provide excellent <br>
                        customer support. Our team assists advertisers as well!<br>
                        Publish your offer and enjoy traffic from numerous affiliates.</b></mark>
            </div> <!--text -->
        </div>

        &nbsp;<br><br><br><br><br><br>
        <div class="ASO-general" style="margin-left:25%;">
            <div class="aso-image-title">
                <img src="images/SEO-Content marketing-icon.png"  width="75px" height="75px" alt="">
                <h12> SEO/Content marketing </h12>
            </div> <!--aso-image-title -->
            <div class="text">
                <mark><b>Our team will provide professional SEO services and ensure <br>
                        your content is high-quality and easily readable for both<br>
                        Google crawlers and human audience.</b></mark><br>
                Invest in your content and SEO for a guarantee of traffic to your<br>
                site.

            </div> <!--text -->
        </div>

    </div>
    &nbsp;<br><br><br>
    <div class="form" id="formlien" >
        <div  style="height:50px;"></div>
        <center> <h11>Get In Touch</h11></center>
        <center> <p style="color:white; font-size:25px;margin-top:25px;">Team up with us and get the online attention you need.</p></center> <br><br>

        <table style="width:55%;">
            <tr>
                <td style="width:50%;">
                    <input type="text" id="nom" placeholder="Full Name" style="width:98%; margin-bottom:3%;" />
                    <input type="tel" id="tel" placeholder="Phone Number" style="width:98%; margin-bottom:3%;" />
                </td>
                <td style="width:50%;"><textarea id="text" placeholder="How can we help you?" style="width:100%; margin-top:-2%"></textarea>   </td>
            </tr>
            <tr>
                <td><input type="email" id="email" placeholder="Email Address" style="width:98%;"/></td>
                <td style="width:50%;"><input id="bouton-send" type="submit" value="SEND"/>  </td>
            </tr>

        </table>


        <div class="clearfix" style="margin-left:42.5%; margin-top:2%;">
            <a href="#" class="social-icon-sm si-dark si-facebook si-dark-round">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="social-icon-sm si-dark si-g-plus si-dark-round">
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                <i class="fa fa-skype"></i>
                <i class="fa fa-skype"></i>
            </a>
            <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-linkedin"></i>
            </a>
        </div>

    </div>





{% endblock %}